.exchange-attention {
  margin: 0 auto;
  text-align: center;

  &-text {
    margin: 0 auto rem(30);
    width: 100%;
    max-width: 500px;
    font-size: 13px;
    line-height: 2;
    letter-spacing: 0;
    color: var(--color-gray-400);

    &-last {
      margin-bottom: rem(100);
    }
  }

  &-btns {
    @include flex-all-center;
  }

  &-btn {
    width: 100%;
    max-width: 103px;

    &:not(:last-child) {
      margin-right: rem(20);
    }
  }
}
