.trading-exchange {
  height: 100%;

  &-inner {
    margin: 0 auto;
    border-radius: var(--radius-main);
    padding: rem(40);
    width: 100%;
    height: 100%;
    min-height: 530px;
    max-width: 620px;
    background-color: var(--color-white);

    &-pay {
      min-height: 640px;
    }

    &-market {
      min-height: 920px;
    }

    @include for-width(-mobile-l) {
      margin-top: rem(20);
      max-width: 100%;
    }
  }

  .progress-bar {
    position: relative;
    margin-bottom: rem(50);
    border-radius: var(--radius-main);
    width: 100%;
    height: 4px;
    background-color: var(--color-gray-300);

    &-end {
      position: absolute;
      top: 50%;
      border-radius: var(--radius-main);
      height: 6px;
      background-color: var(--color-main);
      transform: translateY(-50%);
    }
  }
}

.exchange-start {
  @include flex-column;

  justify-content: space-between;
  height: 100%;

  &-inner {
    &:not(:last-child) {
      margin-bottom: rem(14);
    }
  }

  &-title {
    margin-bottom: rem(30);
    font-weight: 500;
    font-size: 17px;
    line-height: 1.5;
    letter-spacing: 0;
    color: var(--color-dark);
  }

  &-choose {
    margin-bottom: rem(60);

    .modals-copy-choose {
      @include flex-v-center;

      border: 1px solid var(--color-gray-300);
      border-radius: var(--radius-main);
      padding: 12px rem(15);

      &:not(:last-child) {
        margin-bottom: rem(20);
      }

      &-checked {}
    }

    .modals-copy-check-content {
      z-index: 1;
      padding-left: rem(35);

      &::before {
        left: rem(15);
        right: auto;
        top: 12px;
      }

      &::after {
        left: rem(15);
        right: auto;
        top: 12px;
      }
    }
  }

  .modals-copy-check {
    left: 0;
    width: 100%;
    height: 100%;

    &:checked {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        width: 100%;
        height: 100%;
        background-color: var(--color-gray-100);
      }
    }
  }

  .modals-copy-choose {
    &.disabled {
      opacity: 0.6;
    }
  }

  &-content {
    width: 100%;
    max-width: 480px;
    font-size: 13px;
    line-height: 1.8;
    letter-spacing: 0;

    &-pay {
      max-width: 100%;
    }

    &-market {
      margin-bottom: rem(40);
      max-width: 100%;
    }
  }

  &-text {
    &-colored {
      color: var(--color-main);
    }

    &:not(.exchange-start-text-last) {
      margin-bottom: 10px;
    }

    &-last {
      margin-bottom: rem(30);
    }
  }

  &-link {
    text-decoration: underline;
  }

  &-list {
    @include flex-v-center;
  }

  &-item {
    position: relative;
    font-size: 13px;
    line-height: 1.8;
    color: var(--color-gray-400);

    &:not(:last-child) {
      margin-right: rem(18);
    }

    &:first-child {
      font-weight: 400;
      color: var(--color-dark);
    }
  }

  &-list-static {
    margin-bottom: rem(20);

    .exchange-start-item {
      position: relative;

      &:not(:last-child) {
        &::before {
          content: "";
          position: absolute;
          right: -20%;
          top: 50%;
          width: 1px;
          height: 12px;
          background-color: var(--color-gray-400);
          transform: translateY(-50%);
        }
      }
    }
  }

  &-item-btn {
    width: 100%;
    max-width: 103px;

    .btn-reverse {
      border-color: var(--color-gray-400);
      color: var(--color-gray-400);
      background-color: transparent;
    }

    &:first-child {
      margin-right: auto;
    }
  }

  &-subscribe {
    @include flex-all-sb;

    margin: rem(30) 0;
    border: 1px solid var(--color-gray-300);
    border-radius: var(--radius-main);
    padding: rem(25);

    &-item {
      font-size: 12px;
      line-height: 1.1;
      color: var(--color-dark);

      &-avatar {
        width: 100%;
        max-width: 36px;
      }
    }

    &-text {
      display: block;

      &::before {
        margin-right: 0;
      }

      &-balance {
        color: var(--color-main);

        &::before {
          content: "<";
        }
      }

      &:first-child {
        margin-bottom: 8px;
        font-weight: 700;
      }

      &:last-child {
        color: var(--color-gray-400);
      }
    }

    &-table {
      position: relative;
      overflow: scroll;
      padding: 0;
      max-height: 305px;

      &-positions {
        max-height: 400px;
      }

      .profile-table-thead {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--color-white);
      }

      tbody {
        tr {
          &:nth-child(odd) {
            background-color: var(--color-gray-100);
          }

          &:nth-child(even) {
            background-color: var(--color-white);
          }
        }

        td {
          position: relative;

          &:first-child {
            padding-left: 70px;
            text-transform: uppercase;

            &::before {
              content: "";
              position: absolute;
              left: rem(40);
              top: 50%;
              border-radius: 8px;
              width: 23px;
              height: 23px;
              background-color: #306aff;
              opacity: 0.14;
              transform: translateY(-50%);
            }

            &::after {
              content: "";
              position: absolute;
              left: 44px;
              top: 50%;
              width: 10px;
              height: 7px;
              background-image: url("../img/sprite.svg#tradelize");
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
              transform: translateY(-60%);
            }
          }
        }
      }
    }
  }
}

@import "exchange-pay";
