.burger {
  --burger-width: 22px;
  --burger-height: 14px;
  --burger-line-height: 2px;

  @include burger;

  display: none;
  margin-right: rem(15);

  @include for-width(-mobile-l) {
    display: flex;
  }
}
