.btn {
  display: block;
  border: 1px solid transparent;
  border-radius: var(--radius-main);
  padding: rem(9) rem(20);
  font-weight: 500;
  font-size: var(--size-m);
  line-height: 1.5;
  letter-spacing: 0.015em;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-main);
  transition: color 0.4s ease-in-out, background-color 0.4s ease-in-out;

  &:focus {
    background-color: var(--color-secondary);
  }

  &:hover {
    background-color: var(--color-hover);
  }

  &:active {
    background-color: var(--color-secondary);
  }

  &.disabled {
    color: var(--color-gray-400);
    background-color: var(--color-gray-200);
    pointer-events: none;
  }

  &.social-link {
    background-color: var(--color-white);

    &:hover {
      opacity: 0.8;
    }

    &:active {
      opacity: 1;
      filter: grayscale(0.4);
    }

    &.disabled {
      color: var(--color-gray-400);
      background-color: var(--color-gray-200);
    }
  }

  &-reverse {
    border-color: var(--color-main);
    color: var(--color-main);
    background-color: var(--color-white);

    &:focus {
      border-color: var(--color-hover);
      color: var(--color-white);
      background-color: var(--color-main);
    }

    &:hover {
      border-color: var(--color-hover);
      color: var(--color-white);
      background-color: var(--color-main);
    }

    &:active {
      color: var(--color-white);
      background-color: var(--color-secondary);
    }

    &.disabled {
      border-color: transparent;
    }
  }

  &-icon {
    padding: 0;
    width: rem(34);
    height: rem(34);
    min-width: 14px;
    min-height: 14px;
    line-height: 1;
    background-color: var(--color-gray-100);

    &:focus {
      background-color: var(--color-gray-100);

      .icon {
        fill: var(--color-main);
      }
    }

    &:hover {
      background-color: var(--color-gray-100);

      .icon {
        fill: var(--color-main);
      }
    }

    &:active {
      background-color: var(--color-gray-100);

      .icon {
        fill: var(--color-secondary);
      }
    }

    &.disabled {
      background-color: var(--color-gray-100);
      pointer-events: none;

      .icon {
        fill: var(--color-gray-300);
      }
    }
  }
}
