.comments {
  overflow: hidden;
  margin-bottom: rem(38);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  max-height: 0;
  box-sizing: content-box;
  font-size: 13px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  will-change: max-height;

  &-open {
    padding-top: rem(35);
    max-height: 100%;
    opacity: 1;
    visibility: visible;
  }

  &-item {
    position: relative;
    margin-bottom: rem(20);

    &-top {
      @include flex-s;

      position: relative;
      margin-bottom: rem(23);

      @include for-width(-mobile-l) {
        margin-bottom: rem(17);
      }
    }

    &-box {
      padding: rem(18) rem(20) rem(28);
      background-color: var(--color-gray-50);

      @include for-width(-mobile-md) {
        display: block;
        padding: rem(15);
      }
    }

    &-reply {
      margin-left: rem(60);

      @include for-width(-mobile-sl) {
        margin-left: 0;
      }
    }

    .post-title {
      margin-bottom: 0;
      font-size: 13px;
    }
  }

  .post-text {
    margin-bottom: rem(18);
    letter-spacing: 0;
  }

  .post-comments-link {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      min-width: 30px;
      min-height: 30px;
      max-width: rem(44);
      max-height: rem(44);
    }
  }

  .post-action {
    &:not(:last-child) {
      margin-right: rem(28);
    }
  }
}
