.comments {
  overflow: hidden;
  margin-bottom: rem(30);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  max-height: 0;
  box-sizing: content-box;
  font-size: 13px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in-out;
  will-change: max-height;

  &-open {
    padding-top: rem(35);
    max-height: 100%;
    opacity: 1;
    visibility: visible;
  }

  &-item {
    position: relative;
    margin-bottom: rem(30);

    &-box {
      @include flex;
    }

    &-reply {
      margin-left: rem(60);
    }
  }

  &-avatar {
    margin-right: rem(20);
    height: rem(40);
    max-width: rem(40);
  }

  &-block {
    padding: rem(10) rem(20) rem(20);
    background-color: var(--color-gray-100);
  }

  .post-text {
    margin-bottom: rem(20);
  }

  .post-comments-link {
    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: rem(40);
      height: rem(40);
    }
  }
}
