.form-in {
  &-btn {
    margin-bottom: 20px;
    padding: rem(19) rem(12);
    width: 100%;

    @include for-width(-tablet) {
      @include adaptive_size("font-size", 14, 12);

      padding: rem(15);
    }
  }
}

.search {
  position: relative;
  width: 100%;

  &-area {
    padding: rem(12) rem(20);
    max-width: 100%;
    font-size: 13px;

    @include for-width(-desktop-sm) {
      padding: rem(15) rem(20);
    }

    @include for-width(-mobile-md) {
      background-color: var(--color-gray-100);
    }
  }

  &-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    padding: rem(10);
    transform: translateY(-50%);
    cursor: pointer;

    .icon {
      width: 14px;
      height: 14px;
    }

    @include for-width(-mobile-md) {
      right: 30px;
    }
  }

  @include for-width(-mobile-md) {
    padding: rem(20) rem(24);
    background-color: var(--color-white);
  }
}
