.tabs {
  overflow-y: auto;
  margin-bottom: rem(30);
  @include flex-s;
}

.tab {
  width: 100%;
  max-width: 118px;
  text-align: center;

  &:not(:last-child) {
    margin-right: rem(20);
  }

  &-link {
    display: block;
    border-radius: var(--radius-main);
    padding: rem(5) rem(30);
    font-size: var(--size-m);
    line-height: 1.8;
    color: var(--color-gray-400);
    transition: color 0.3s ease, font 0.2s ease-in;

    &:hover {
      font-weight: 500;
      color: var(--color-dark);
    }
  }

  &-active {
    .tab-link {
      font-weight: 500;
      color: var(--color-dark);
      background-color: #fff;
    }
  }
}
