.tabs {
  @include flex-s;

  overflow-x: auto;
  overflow-y: hidden;
  margin-bottom: rem(20);

  &::-webkit-scrollbar {
    height: 0;
  }

  @include for-width(-mobile-md) {
    margin-bottom: rem(20);
    padding: 0 rem(24);
  }
}

.tab {
  width: fit-content;
  text-align: center;

  &:not(:last-child) {
    margin-right: rem(17);
  }

  &-link {
    display: block;
    border-radius: var(--radius-main);
    padding: rem(5) rem(30);
    font-size: var(--size-m);
    line-height: 1.8;
    letter-spacing: 0;
    color: var(--color-gray-400);
    transition: color 0.3s ease, font 0.2s ease-in;

    &:hover {
      font-weight: 500;
      color: var(--color-dark);
    }
  }

  &-active {
    .tab-link {
      font-weight: 500;
      color: var(--color-dark);
      background-color: #fff;
    }
  }
}
