.tabs {
  display: grid;
  grid-template-columns: repeat(4, 117px);
  padding: 20px 0;
  gap: 0 rem(20);

  &::-webkit-scrollbar {
    height: 0;
  }

  @include for-width(-mobile-md) {
    margin-bottom: 0;
    padding: 20px rem(24);
    gap: 0 rem(10);
  }

  @include for-width(-mobile-sl) {
    display: grid;
    column-count: 2;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: rem(20);
  }

  &-filter {
    gap: 0 10px;

    @include for-width(-mobile-md) {
      gap: 0 8px;
      padding: 0 5px;
    }

    @include for-width(-mobile-sl) {
      flex-wrap: wrap;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(1, 1fr);
      width: 100%;
      gap: 0 rem(15);
    }

    .tab-link {
      padding: 5px 15px;

      @include for-width(-mobile-md) {
        padding: 5px 8px;
      }
    }
  }
}

.tabs-traders {
  @include for-width(-mobile-md) {
    margin-bottom: 0;
    padding: 20px 15px;
  }
}

.tab {
  text-align: center;

  &-link {
    display: block;
    border-radius: var(--radius-main);
    padding: rem(5) rem(40);
    font-size: var(--size-m);
    line-height: 1.8;
    letter-spacing: 0;
    white-space: nowrap;
    color: var(--color-gray-400);
    transition: color 0.3s ease, font 0.2s ease-in;

    &:hover {
      font-weight: 500;
      color: var(--color-dark);
    }
  }

  &-active {
    .tab-link {
      font-weight: 500;
      letter-spacing: 0;
      color: var(--color-dark);
      background-color: #fff;
    }
  }
}
