.wellcome {
  &-inner {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: rem(130);
    grid-template-columns: 575px 345px;
    margin-bottom: rem(30);
    min-height: calc(100vh - 125px);

    @include for-width(-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-width(-mobile-l) {
      grid-template-columns: 1fr;
      padding-top: rem(50);
    }
  }

  &-img {
    margin: auto;
    width: 100%;
    max-width: 575px;

    @include for-width(-mobile-l) {
      display: none;
    }
  }

  &-title {
    margin-bottom: rem(70);
    @include font_sizes(32, 34);

    &-register {
      margin-bottom: rem(40);
      @include font_sizes(28, 34);

      @include for-width(+desktop-xl) {
        font-size: 27px;
      }
    }

    @include for-width(-desktop-lg) {
      font-size: 27px;
    }

    @include for-width(-tablet) {
      font-size: 24px;
    }
  }

  &-title-color {
    font-weight: 500;
    color: var(--color-main);
  }

  &-text {
    margin-bottom: 25px;
    font-size: var(--size-m);
  }

  &-form {
    margin: 0 auto;
    width: 100%;
    max-width: 350px;
  }

  &-forgot {
    display: inline-block;
    margin-bottom: 40px;
    padding-left: 0;
    font-size: var(--size-m);
    letter-spacing: 0.015em;
    color: var(--color-gray-400);
  }

  &-contact {
    font-size: 10px;
    letter-spacing: 0.02em;
    color: var(--color-gray-400);
  }

  &-contact-link {
    display: inline;
    font-size: var(--size-s);
    text-transform: inherit;
    color: var(--color-main);
  }

  &-register {
    .social {
      margin-bottom: rem(20);

      @include for-width(-mobile-sl) {
        margin-bottom: rem(50);
      }
    }
  }

  &-forgot {

    .wellcome-inner {
      margin-bottom: 0;
    }

    .wellcome-form {
      margin-bottom: rem(90);
    }
  }

  .field-area {
    padding: rem(14) rem(20);

    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }
}
