.wellcome {
  &-inner {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-gap: rem(40);
    grid-template-columns: 590px 520px;
    margin-bottom: rem(30);
    min-height: calc(100vh - 135px);

    @include for-width(-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-width(-mobile-l) {
      grid-template-columns: 1fr;
      padding-top: rem(50);
    }
  }

  &-img {
    margin: auto;
    width: 100%;
    max-width: 575px;

    @include for-width(-mobile-l) {
      display: none;
    }
  }

  &-title {
    @include adaptive_size("font-size", 29, 23);

    margin-bottom: rem(60);

    &-register {
      @include adaptive_size("font-size", 26, 23);

      margin-bottom: rem(40);
    }

    @include for-width(+desktop-xl) {
      font-size: 32px;
    }
  }

  &-title-color {
    font-weight: 500;
    color: var(--color-main);
  }

  &-text {
    margin-bottom: 25px;
    font-size: var(--size-m);
  }

  &-form {
    @include flex-column;

    margin: 0 auto;
    width: 100%;
    max-width: 350px;
  }

  &-form-in {
    margin-top: auto;
  }

  &-forgot {
    display: block;
    margin-bottom: 40px;
    font-size: var(--size-m);
    letter-spacing: 0.015em;
    color: var(--color-gray-400);

    .wellcome-inner {
      margin-bottom: 0;
    }

    .wellcome-form {
      margin-bottom: rem(90);
    }
  }

  &-contact {
    font-size: 10px;
    letter-spacing: 0.02em;
    color: var(--color-gray-400);
  }

  &-contact-link {
    display: inline;
    font-size: var(--size-s);
    text-transform: inherit;
    color: var(--color-main);
  }

  &-register {
    .social {
      margin-bottom: rem(50);

      @include for-width(-mobile-sl) {
        margin-bottom: rem(50);
      }
    }
  }

  .field-area {
    padding: rem(14) rem(20);

    &:not(:last-child) {
      margin-bottom: rem(25);
    }

    @include for-width(-tablet) {
      padding: rem(20);
    }
  }
}
