@import 'page';
@import 'distribution';
@import 'portfolio-charts';
@import 'trading';

.profile {
  &-box {
    margin-bottom: rem(30);
    padding: rem(30) rem(40);
    background-color: var(--color-white);
  }

  &-title {
    border-radius: var(--radius-main);
    text-transform: capitalize;
    color: var(--color-gray-400);
  }
}
