.profile-trading {
  &-title {
    margin-bottom: rem(25);
  }

  &-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: rem(30);

    @include for-width(-tablet) {
      grid-template-columns: repeat(4, 1fr);
      gap: rem(20);
    }

    @include for-width(-mobile-md) {
      grid-template-columns: repeat(3, 1fr);
    }

    @include for-width(-mobile-sl) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-width(-mobile-s) {
      display: block;
    }
  }

  &-item {
    @include flex-column;

    justify-content: space-between;
    border: 1px solid var(--color-gray-200);
    border-radius: var(--radius-main);
    padding: rem(20) rem(20);

    p {
      margin-bottom: 6px;
      font-size: 11px;
      line-height: 1.7;
      letter-spacing: 0.03em;
      color: var(--color-gray-400);

      @include for-width(-mobile-s) {
        margin-bottom: 0;
        font-size: 13px;
      }
    }

    span {
      display: block;
      font-weight: 700;
      font-size: 17px;
      line-height: 1.6;

      @include for-width(-desktop-med) {
        font-size: 14px;
      }

      @include for-width(-mobile-s) {
        margin-bottom: 0;
        font-size: 13px;
      }
    }

    &-profit {
      padding-right: rem(35);

      span {
        white-space: nowrap;
        color: var(--color-green);

        &::before {
          content: "+";
        }
      }
    }

    &-loss {
      padding-right: rem(35);

      span {
        color: var(--color-red);

        &::before {
          content: "-";
        }
      }
    }

    &-percent {
      position: relative;
      width: fit-content;

      &::after {
        content: "%";
        position: absolute;
        right: -13px;

        @include for-width(-mobile-s) {
          display: contents;
        }
      }
    }

    &:not(:last-child) {
      @include for-width(-mobile-s) {
        margin-bottom: 10px;
      }
    }

    &:last-child {
      @include for-width(-tablet) {
        grid-column: 3/5;
      }

      @include for-width(-mobile-md) {
        grid-column: 1/4;
      }

      @include for-width(-mobile-sl) {
        grid-column: 2/3;
      }
    }

    &:nth-child(9n) {
      @include for-width(-tablet) {
        grid-column: 1/3;
      }

      @include for-width(-mobile-md) {
        grid-column: 3/4;
      }

      @include for-width(-mobile-sl) {
        grid-column: 1/2;
      }
    }

    @include for-width(-mobile-s) {
      flex-direction: row;
      border-color: transparent;
      padding: 0;
    }
  }
}
