.copy-trader {
  &-nav {
    @include flex-all-sb;
  }

  &-list {
    grid-template-columns: repeat(2, auto);

    .tab-link {
      @include flex-v-center;

      &-btn {
        font-weight: bold;
      }
    }

    .tab-icon {
      margin-left: 10px;
      width: 16px;
      height: 10px;
      fill: transparent;
      stroke: currentColor;
      stroke-width: 1.5px;
    }
  }


}
