:root {
  // colors
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #333248;
  --color-main: #406aff;
  --color-hover: #6083ff;
  --color-secondary: #3a59c7;
  --color-avatar: #adb6d7;
  --color-gray-50: #f8f8f8;
  --color-gray-100: #f3f5fa;
  --color-gray-200: #e6e7f2;
  --color-gray-300: #c8d6ea;
  --color-gray-400: #728094;
  --color-icon: #787f94;
  --color-red: #ff5f5f;
  --color-green: #65be69;
  --color-orange-500: #ffe9c6;
  --color-orange-600: #c79970;
  --color-facebook: #3b5998;
  --color-google: #4285f4;
  --color-wechat: #2dc100;
  // border radius
  --radius-main: 3px;
  // font size
  --size-lg: 16px;
  --size: 14px;
  --size-m: 13px;
  --size-sl: 12px;
  --size-s: 11px;
}
