:root {
  // colors
  --color-white: #fff;
  --color-black: #000;
  --color-dark: #333248;
  --color-main: #406aff;
  --color-hover: #6083ff;
  --color-secondary: #3a59c7;
  --color-avatar: #adb6d7;
  --color-gray-50: #f8f8f8;
  --color-gray-100: #f3f5fa;
  --color-gray-200: #e6e7f2;
  --color-gray-300: #c8d6ea;
  --color-gray-400: #728094;
  --color-icon: #787f94;
  --color-red: #ff5f5f;
  --color-green: #65be69;
  --color-orange-500: #ffe9c6;
  --color-orange-600: #c79970;
  --color-orange-800: #e9a128;
  --color-facebook: #3b5998;
  --color-google: #4285f4;
  --color-wechat: #2dc100;
  --color-first: #2764ff;
  --color-second: #896d53;
  --color-third: #956363;
  --color-fourth: #529e65;
  --color-five: #7b4463;
  --color-sixth: #417b8e;
  --color-seventh: #4f2e8b;
  --color-eight: #89891e;
  --color-bg-first: #2764ff;
  --color-bg-second: #fbf0e6;
  --color-bg-third: #ffeaea;
  --color-bg-fourth: #e6f2e9;
  --color-bg-five: #f2e0ea;
  --color-bg-sixth: #e4f6fc;
  --color-bg-seventh: #eee5ff;
  --color-bg-eight: #f7f7e7;
  --color-overlay: rgba(43, 43, 43, 0.7);
  --color-trading: #6066ff;
  --color-wallet: #279ba3;
  --color-mirror: #c79970;
  --color-system: #279ba3;
  --color-alerts: #d0d2d9;
  --color-not-text: #39597d;
  --color-trash: #9a4c4c;



  // border radius

  --radius-main: 3px;

  // font size

  --size-lg: 16px;
  --size: 14px;
  --size-m: 13px;
  --size-sl: 12px;
  --size-s: 11px;
}
