.trading-flow {
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    letter-spacing: 0;
    gap: rem(30);
  }

  &-profit {
    color: var(--color-green);
  }

  &-loss {
    color: var(--color-red);
  }

  &-balance {
    position: relative;
    padding: 0 rem(40) 0 10px;

    &::before {
      content: "<";
      position: absolute;
      left: 0;
    }

    &::after {
      content: "usd";
      text-transform: uppercase;
    }
  }

  .profile-title {
    margin-bottom: 20px;
  }

  .table {
    &-show {
      border-top: 1px solid var(--color-gray-200);
      text-align: center;
      background-color: var(--color-white);
    }

    &-btn-show {
      padding: rem(25) 0;
      width: 100%;
      font-size: 13px;
      line-height: 1.1;
      letter-spacing: 0.015em;
      color: var(--color-gray-400);
    }
  }
}
