.trading-flow {
  &-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    letter-spacing: 0;
    gap: rem(30);

    @include for-width(-tablet) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include for-width(-mobile-sl) {
      display: block;
    }
  }

  &-profit {
    color: var(--color-green);
  }

  &-loss {
    color: var(--color-red);
  }

  &-balance {
    position: relative;
    padding: 0 0 0 10px;

    &::before {
      content: "<";
      position: absolute;
      left: 0;
    }

    &::after {
      content: "usd";
      text-transform: uppercase;
    }
  }

  .profile-title {
    margin-bottom: 20px;

    @include for-width(-mobile-sl) {
      font-weight: 500;
      font-size: 17px;
      color: var(--color-dark);
    }
  }

  .profile-trading-item {
    grid-column: auto;

    p {
      @include for-width(-mobile-sl) {
        font-size: 13px;
      }
    }

    span {
      @include for-width(-mobile-sl) {
        font-size: 13px;
      }
    }

    @include for-width(-mobile-sl) {
      @include flex-all-sb;

      flex-direction: row;
      border-color: transparent;
      padding: 0 rem(10);

    }

    &-profit {
      @include for-width(-mobile-sl) {
        padding-right: rem(25);
      }
    }

    @include for-width(-mobile-s) {
      padding: 0;
    }
  }

  .table {
    &-show {
      border-top: 1px solid var(--color-gray-200);
      text-align: center;
      background-color: var(--color-white);
    }

    &-btn-show {
      padding: rem(25) 0;
      width: 100%;
      font-size: 13px;
      line-height: 1.1;
      letter-spacing: 0.015em;
      color: var(--color-gray-400);
    }
  }
}


